:root {
  --colr-primary: #2E112D;
  --colr-secondary: #B01C33;
  --colr-contigent: #EF4339;
  --colr-accent: #FFDBC5;
  --colr-accent2: #FF5FF9;
  --colr-low-light: #793077;
  --colr-white: #FAFAFA;
  --colr-black: #000000;
}

.mobile {
  display: none;
}

header {
  position: fixed;
  padding: 16px 0;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 9999;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  width: min(90%, 1300px);
}
.header-nav__logo {
  font-size: 1.5em;
  font-weight: 600;
  color: var(--colr-white);
}
.header-nav__menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.header-nav__menu a {
  padding: 10px;
  transition: all 0.4s ease-in-out;
  border-radius: 2px;
}
.header-nav__menu a:hover {
  color: var(--colr-black);
  background: var(--colr-white);
}

.header-nav__ham {
  display: none;
}

.hero {
  position: relative;
  padding: 4em 0 0 0;
  background: rgb(46, 17, 45);
  background: linear-gradient(0deg, rgb(46, 17, 45) 38%, rgb(135, 0, 130) 100%);
}
.hero .hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  width: min(90%, 1150px);
}

.squares {
  position: absolute;
}

.squares1 {
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background: #FF5FF9;
  z-index: 3;
}

.squares2 {
  bottom: 0;
  right: 0;
  width: 150px;
  height: 150px;
  background: #843082;
  z-index: 2;
}

.squares3 {
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  background: #662765;
  z-index: 1;
}

.hero-content__left {
  width: 50%;
}
.hero-content__left .myName {
  font-family: "Yellowtail", cursive;
  color: var(--colr-accent2);
  font-size: 0.8em;
  white-space: nowrap;
}
.hero-content__left .dev {
  font-size: 1.048em;
  font-weight: 900;
}
.hero-content__left h1 {
  font-size: 5em;
  font-weight: 900;
  color: #fff;
  line-height: 65px;
}
.hero-content__left p {
  font-family: "Montserrat", "Poppins", serif;
  font-size: 1.2em;
  color: #EDEDED;
  margin: 1em 0 2em 0;
}
.hero-content__left .btn {
  font-size: 1em;
  border-radius: 4px;
  outline: transparent;
  font-weight: 600;
}
.hero-content__left .btn1 {
  padding: 8px 32px;
  margin-right: 1em;
  border: none;
  color: var(--colr-primary);
  background: var(--colr-white);
}
.hero-content__left .btn1:hover {
  color: var(--colr-white);
  background: var(--colr-accent2);
}
.hero-content__left .btn2 {
  color: var(--colr-white);
  border: 2px solid var(--colr-white);
  background: transparent;
  padding: 7px 45px;
}
.hero-content__left .btn2:hover {
  color: var(--colr-accent2);
  border-color: var(--colr-accent2);
}

.hero-content__right {
  width: 50%;
}
.hero-content__right img {
  display: block;
  width: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.skills {
  padding: 100px 0;
  background: var(--colr-primary);
}
.skills-content {
  text-align: center;
}
.skills-content h2 {
  font-size: 3em;
  letter-spacing: 3px;
  color: var(--colr-white);
  text-align: center;
  margin-bottom: 1em;
}
.skills-content img {
  width: 85px;
}
.skills-content__icons {
  display: grid;
  grid-template: repeat(2, 1fr)/repeat(3, 1fr);
  justify-content: space-between;
  align-items: center;
  gap: 0.8em;
  margin-inline: auto;
  width: min(90%, 900px);
}
.skills-content__icons-inner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  padding: 2em;
  border: 2px solid rgba(121, 48, 119, 0.3);
}
.skills-content__icons-inner small {
  font-family: "Montserrat", "Poppins", serif;
  font-size: 1.2em;
  margin-top: 0.7em;
  letter-spacing: 2px;
  color: var(--colr-white);
}
.skills-content__icons-inner:hover {
  border: 2px solid var(--colr-low-light);
}

.about {
  position: relative;
  padding: 120px 0;
  background: var(--colr-white);
}
.about h2 {
  position: relative;
  font-size: 3em;
  color: var(--colr-white);
  margin-bottom: 1em;
  text-align: center;
}

.about::before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 50%;
  background: var(--colr-primary);
}

.about__piece {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60%;
  transform: skew(0deg);
  background: var(--colr-primary);
}

.about-content {
  margin-inline: auto;
  width: min(90%, 1250px);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about-content__left {
  width: 55%;
}
.about-content__left img {
  display: block;
  width: 100%;
  height: 450px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  border-radius: 4px;
}
.about-content__right {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  right: 0;
  width: 53%;
  height: 80%;
  padding: 16px;
  background: var(--colr-white);
  border-radius: 4px;
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.about-content__right h3 {
  font-family: "Yellowtail", cursive;
  text-align: left;
  font-size: 2em;
  font-weight: 700;
  color: var(--colr-accent2);
  display: inline;
}
.about-content__right p {
  text-align: left;
  font-size: 1.1em;
  color: var(--colr-primary);
  margin-top: 0.6em;
}
.about-content h3::before {
  position: absolute;
  left: 170px;
  top: 40px;
  content: "";
  width: 25%;
  height: 2px;
  background: var(--colr-accent2);
}

.about-content__social-icons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  margin-top: 1em;
}
.about-content__social-icons .fa-brands {
  font-size: 1.5em;
  color: var(--colr-accent2);
}

.portfolio {
  position: relative;
  padding: 7.5em 0;
  background: var(--colr-white);
}
.portfolio h2 {
  font-size: 3em;
  color: var(--colr-secondary);
  text-align: center;
  margin-bottom: 2em;
}

.portfolio-content {
  width: min(90%, 1100px);
  margin-inline: auto;
}

.portfolio-content__inner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
}
.portfolio-content__inner-box {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 4px;
}
.portfolio-content__inner-left {
  width: 50%;
  box-shadow: 10px 10px 15px transparent;
  transition: all 0.3s ease-in-out;
}
.portfolio-content__inner-left img {
  width: 100%;
}
.portfolio-content__inner-right {
  width: 50%;
  opacity: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 2em;
  border-radius: 4px;
}
.portfolio-content__inner-right h2 {
  font-size: 2em;
  margin-bottom: 0.3em;
  text-align: center;
  color: var(--colr-black);
}
.portfolio-content__inner-right p {
  font-family: "Montserrat", "Poppins", serif;
  font-size: 1.1em;
  color: #000;
  letter-spacing: 1px;
}
.portfolio-content__inner-right button {
  font-size: 1em;
  width: 150px;
  padding: 4px;
  color: #000;
  margin: 2em 1em 0 0;
  border: 2px solid transparent;
  border-radius: 2px;
  letter-spacing: 1px;
}
.portfolio-content__inner-right button:last-child {
  margin: 1em 0 0 0;
}
.portfolio-content__inner-box:nth-last-of-type(1) {
  display: flex;
  flex-direction: row-reverse;
}
.portfolio-content__inner-left:hover {
  transform: scale(1.025);
  box-shadow: 8px 8px 10px rgb(138, 138, 138);
}
.portfolio-content__inner button:hover {
  color: var(--colr-white);
  background: rgb(176, 28, 51);
}

.contact {
  position: relative;
  padding: 120px 0;
  background: var(--colr-white);
}
.contact h2 {
  color: var(--colr-secondary);
  font-size: 3em;
  text-align: center;
  margin-bottom: 1em;
}
.contact-content {
  position: relative;
  margin-inline: auto;
  width: min(90%, 800px);
}

.contact::before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 40%;
  background: var(--colr-black);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.form label {
  color: var(--colr-black);
  font-size: 1.1em;
  margin: 0.5em 0 0.3em 0;
}
.form input {
  font-size: 1em;
  padding: 12px;
  border: 2px solid #b8b8b8;
  border-radius: 4px;
  margin-bottom: 0.8em;
  background: #ededed;
}
.form input:focus {
  outline: transparent;
  border: 2.5px solid var(--colr-secondary);
}
.form textarea {
  font-size: 1.3em;
  padding: 12px;
  background: #ededed;
  border: 2px solid #b8b8b8;
  border-radius: 4px;
}
.form textarea:focus {
  outline: transparent;
  border: 2.5px solid var(--colr-secondary);
}
.form button {
  font-size: 1.1em;
  margin-top: 2.5em;
  padding: 10px;
  width: 200px;
  border-radius: 4px;
  border: none;
  color: var(--colr-white);
  background: var(--colr-secondary);
}
.form button:hover {
  color: var(--colr-secondary);
  background: var(--colr-white);
}

.footer {
  padding: 7.5em 0 2em 0;
  background: var(--colr-black);
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
}
.footer-content__left {
  width: 50%;
  text-align: center;
}
.footer-content__left p {
  font-weight: 300;
  font-family: "Montserrate", "Poppins", serif;
  color: grey;
}
.footer-content__left span {
  font-family: "Yellowtail", cursive;
  font-size: 1.3em;
  letter-spacing: 1px;
  color: var(--colr-secondary);
}
.footer-content__right {
  width: 50%;
}
.footer-content .footer-content__icons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
}
.footer-content .footer-content__icons .fa-brands {
  font-size: 28px;
  color: var(--colr-white);
}
.footer-content .fa-brands:hover {
  color: var(--colr-secondary);
}

@media screen and (max-width: 768px) {
  .header {
    padding: 0.5em;
  }
  .header-nav__logo {
    font-size: 1.2em;
  }
  .header-nav__menu {
    display: none;
  }
  .header-nav__ham {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: 0.4em;
  }
  .header-nav__ham .lines {
    background: var(--colr-white);
    border-radius: 50px;
    width: 15px;
    height: 1.8px;
  }
  .header-nav__ham .line2 {
    width: 23px;
  }
  .header-nav__ham .line3 {
    width: 15px;
  }
  .hero {
    padding: 10em 0 0 0;
  }
  .hero .hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-inline: auto;
    width: min(90%, 900px);
  }
  .hero-content__left {
    text-align: center;
    margin-inline: auto;
    width: min(90%, 600px);
  }
  .hero-content__left .myName {
    font-family: "Yellowtail", cursive;
    color: var(--colr-accent2);
    font-size: 0.5em;
    white-space: nowrap;
    letter-spacing: 1.5px;
  }
  .hero-content__left .dev {
    font-size: 1em;
  }
  .hero-content__left h1 {
    font-size: 3em;
    font-weight: 900;
    color: #fff;
    line-height: 40px;
  }
  .hero-content__left p {
    font-family: "Montserrat", "Poppins", serif;
    font-size: 1.2em;
    color: #EDEDED;
    margin: 1em 0 2em 0;
  }
  .hero-content__left .btn {
    font-size: 1em;
    border-radius: 4px;
    outline: transparent;
    font-weight: 600;
  }
  .hero-content__left .btn1 {
    padding: 8px 32px;
    margin-right: 1em;
    border: none;
    color: var(--colr-primary);
    background: var(--colr-white);
  }
  .hero-content__left .btn1:hover {
    color: var(--colr-white);
    background: var(--colr-accent2);
  }
  .hero-content__left .btn2 {
    display: none;
    color: var(--colr-white);
    border: 2px solid var(--colr-white);
    background: transparent;
    padding: 7px 45px;
  }
  .hero-content__left .btn2:hover {
    color: var(--colr-accent2);
    border-color: var(--colr-accent2);
  }
  .hero-content__right {
    width: 0%;
  }
  .hero-content__right img {
    display: none;
  }
  .skills {
    padding: 90px 0;
  }
  .skills-content h2 {
    font-size: 2em;
    letter-spacing: 3px;
    color: var(--colr-white);
    text-align: center;
    margin-bottom: 1em;
  }
  .skills-content img {
    width: 60px;
  }
  .skills-content__icons {
    grid-template: repeat(3, 1fr)/repeat(2, 1fr);
    gap: 1em;
  }
  .about {
    position: relative;
    padding: 50px 0 0 0;
    height: 1000px;
    background: var(--colr-white);
  }
  .about h2 {
    font-size: 2em;
    color: var(--colr-white);
    margin-bottom: 1em;
    text-align: center;
  }
  .about::before {
    position: absolute;
    top: 0;
    content: "";
    width: 100%;
    height: 28%;
    background: var(--colr-primary);
  }
  .about-content {
    margin-inline: auto;
    width: min(90%, 600px);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .about-content__left {
    width: 100%;
  }
  .about-content__left img {
    display: block;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    border-radius: 4px;
  }
  .about-content__right {
    position: absolute;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    top: 100%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100;
    padding: 16px;
    background: var(--colr-white);
    border-radius: 4px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
  }
  .about-content__right h3 {
    font-family: "Yellowtail", cursive;
    text-align: left;
    font-size: 2em;
    font-weight: 600;
    color: var(--colr-accent2);
    display: inline-block;
  }
  .about-content__right p {
    text-align: left;
    font-size: 0.9em;
  }
  .about-content h3::before {
    position: absolute;
    left: 170px;
    top: 37px;
    content: "";
    width: 25%;
    height: 2px;
    background: var(--colr-accent2);
  }
  .about-content__social-icons {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 1em;
    margin-top: 1em;
  }
  .about-content__social-icons .fa-brands {
    font-size: 1.5em;
    color: var(--colr-primary);
  }
  .portfolio-content__inner {
    grid-template: repeat(1, 1fr)/repeat(1, 1fr);
  }
}

/*# sourceMappingURL=style.css.map */
