:root {
  // --colr-primary: #2E112D;
  --colr-primary: #000b52;
  // --colr-primary: #0023ff;
  // --colr-secondary: #B01C33;
  --colr-secondary: #0023ff;
  --colr-contigent: #EF4339;
  // --colr-accent: #FFDBC5;
  --colr-accent: #FFDC00;
  --colr-accent2: #FF5FF9;
  --colr-low-light: #793077;
  --colr-white: #FAFAFA;
  --colr-black: #000000;
}

.mobile {
  display: none;
}

header {
  position: fixed;
  padding: 16px 0;
  width: 100%;
  background: transparent;
  // background: rgba(135,0,130,.5);
  // background: rgba(135,0,130,.5);
  // background: rgb(0, 0, 0, .4);
  
  z-index: 9999;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: auto;
  width: min(90%, 1300px);

  &__logo {
    font-size: 1.3em;
    font-weight: 500;
    color: var(--colr-white);
  }

  &__menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

    & a {
      // border: 2px solid transparent;
      font-size: 1em;
      padding: 10px;
      transition: all .3s ease-in-out;
      border-radius: 2px;
      color: var(--colr-white);
    }
  }

  &__menu a:hover {
    // border-color: #ffffff;
    color: var(--colr-black);
    background: var(--colr-white);
    // color: var(--colr-accent2);
    // border-bottom: 2px solid var(--colr-white);
  }
}

.header-nav__ham {
  display: none;
}



// hero 
.hero {
  position: relative;
  padding: 5em 0 0 0;
  background: rgb(0,35,255);
  background: linear-gradient(0deg, rgba(0,35,255,1) 0%, rgba(0,11,82,1) 100%);
  // background: rgb(0,35,255);
  // background: linear-gradient(180deg, rgba(0,35,255,1) 0%, rgba(0,11,82,1) 100%);
  // background: rgb(0,86,255);
  // background: linear-gradient(180deg, rgba(0,86,255,1) 0%, rgba(12,0,126,1) 100%);
  // background: var(--colr-primary);
  // background: rgb(46,17,45);
  // background: linear-gradient(0deg, rgba(46,17,45,1) 38%, rgba(135,0,130,1) 100%);

  .hero-content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-inline: auto;
    margin-top: 4em;
    width: min(90%, 1200px);
    // border: 2px solid red;
  }
}

.squares {
  position: absolute;
}

.squares1 {
  bottom: 0;
  right: 0;
  width: 100px;
  height: 100px;
  background: #FF5FF9;
  z-index: 3;
}

.squares2 {
  bottom: 0;
  right: 0;
  width: 150px;
  height: 150px;
  background: #843082;
  z-index: 2;
}

.squares3 {
  bottom: 0;
  right: 0;
  width: 200px;
  height: 200px;
  background: #662765;
  z-index: 1;
}

.hero-content__left {
  position: absolute;
  left: 0;
  // top: 170px;
  text-align: left;
  z-index: 0;

  .myName {
    font-family: 'Yellowtail', cursive;
    color: var(--colr-accent2);
    font-size: .8em;
    white-space: nowrap;
    // letter-spacing: 4px;
  }

  & h1 {
    font-size: 12em;
    font-weight: 900;
    color: #fff;
    line-height: 160px;
    margin-bottom: 24px;
    text-transform: uppercase;
  }

  & span {
    -webkit-text-stroke-width: 4px;
    -webkit-text-stroke-color: var(--colr-accent);
    color: transparent
  }

  & p {
    font-family: 'Montserrat', 'Poppins', serif;
    font-size: 1.2em;
    color: #EDEDED;
    margin: 0 0 2em .5em;
  }

  & a {
    display: inline-block;
    font-size: 1em;
    outline: transparent;
    font-weight: 600;
    color: var(--colr-primary);
    padding: 12px 50px;

    // margin: 0 0 2em .5em;
  }

  & .btn-one {
    // margin-top: 9em;
    margin-left: .5em;
    // border: none;
    border-radius: 4px;
    background: var(--colr-accent);
  }

  & .btn-one:hover {
    background: var(--colr-white);
  }

  .btn-two {
    color: var(--colr-accent);
    border: 2px solid var(--colr-accent);
    background: transparent;
    border-radius: 4px;
  }

  & .btn-two:hover {
    color: var(--colr-secondary);
    border-color: var(--colr-white);
    background: var(--colr-white);
  }
}

.hero-content__right {
  padding-top: 2em;
  width: 60%;
  z-index: 1;



  & img {
    padding-top: 6em;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
  }
}


// skills 
.skills {
  padding: 100px 0;
  // background: var(--colr-secondary);
  background: rgb(0,35,255);
  background: linear-gradient(180deg, rgba(0,35,255,1) 0%, rgba(0,11,82,1) 100%);
  // background: #000b52;

  &-content {
    text-align: center;

    & h2 {
      font-size: 3em;
      letter-spacing: 3px;
      color: var(--colr-white);
      text-align: center;
      margin-bottom: 1em;
    }

    & img {
      width: 85px;
    }

    &__icons {
      display: grid;
      grid-template: repeat(2, 1fr) / repeat(3, 1fr);
      justify-content: space-between;
      align-items: center;
      gap: .8em;
      margin-inline: auto;
      width: min(90%, 900px);
    }

    &__icons-inner {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 4px;
      padding: 2em;
      border: 2px solid rgba(121, 48, 119, .3);
      // border: 2px solid var(--colr-low-light);

      & small {
        font-family: 'Montserrat', 'Poppins', serif;
        font-size: 1.2em;
        margin-top: .7em;
        letter-spacing: 2px;
        color: var(--colr-white);
      }
    }

    &__icons-inner:hover {
      // border: 2px solid #FF5FF9;
      // border: 2px solid var(--colr-low-light);
      border: 2px solid var(--colr-accent);
    }
  }
}

// About Me 
.about {
  position: relative;
  padding: 120px 0;
  background: var(--colr-white);

  & h2 {
    position: relative;
    font-size: 3em;
    color: var(--colr-white);
    margin-bottom: 1em;
    text-align: center;
  }
}

.about::before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 50%;
  // background: var(--colr-primary);
  background: #000b52;

}

.about__piece {
  position: absolute;
  top: 0;
  // left: 0;
  width: 100%;
  height: 60%;
  transform: skew(0deg);
  background: var(--colr-primary);
}

.about-content {
  // position: relative;
  margin-inline: auto;
  width: min(90%, 1250px);
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &__left {
    width: 55%;

    img {
      display: block;
      width: 100%;
      height: 450px;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      border-radius: 4px;
      
    }
  }

  &__right {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    right: 0;
    width: 53%;
    height: 80%;
    padding: 16px;
    background: var(--colr-white);
    border-radius: 4px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);

    & h3 {
      font-family: 'Yellowtail', cursive;
      text-align: left;
      font-size: 2em;
      font-weight: 700;
      color: var(--colr-accent2);
      display: inline;
    }


    & p {
      text-align: left;
      font-size: 1.1em;
      color: var(--colr-primary);
      margin-top: .6em;

    }

  }

  h3::before {
    position: absolute;
    left: 170px;
    top: 40px;
    content: '';
    width: 25%;
    height: 2px;
    background: var(--colr-accent2);
  }
}

.about-content__social-icons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  margin-top: 1em;

  & .fa-brands {
    font-size: 1.5em;
    color: var(--colr-accent2);

  }
}


// portfolio
.portfolio {
  position: relative;
  padding: 7.5em 0;
  background: var(--colr-white);

  & h2 {
    font-size: 3em;
    color: var(--colr-secondary);
    text-align: center;
    margin-bottom: 2em;
  }
}

.portfolio-content {
  width: min(90%, 1100px);
  margin-inline: auto;
}

.portfolio-content__inner {
  // display: grid;
  // grid-template: repeat(1, 1fr) / repeat(1, 1fr);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 5em;


  &-box {
    // position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    // gap: 2em;
    border-radius: 4px;
    // background: purple;
    // overflow: hidden;
    // border: 2px solid lime;
  }

  &-left {
    width: 50%;
    // border: 3px solid transparent;
    box-shadow: 10px 10px 15px transparent;
    transition: all .3s ease-in-out;
    // border-radius: 4px;
    // position: relative;
    // padding: 20px;
    & img {
      // border-radius: 4px;
      width: 100%;
    }
  }

  &-right {
    width: 50%;
    opacity: 1;
    // position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 2em;
    border-radius: 4px;
    // height: 250px;
    // background: rgba(46, 17, 45, .9);
    // background: rgba(0, 0, 0, 1);
    // background: rgba(233, 22, 22, 0.7);
    // box-shadow: 4px 4px 15px rgba(0, 0, 0, .5);
    // transition: all .5s ease-in-out;

    & h2 {
      font-size: 2em;
      margin-bottom: .3em;
      text-align: center;
      color: var(--colr-black);
    }

    & p {
      font-family: 'Montserrat', 'Poppins', serif;
      font-size: 1.1em;
      color: #000;
      // text-align: center;
      letter-spacing: 1px;
    }

    & button {
      font-size: 1em;
      width: 150px;
      padding: 4px;
      color: #000;
      margin: 2em 1em 0 0;
      border: 2px solid transparent;
      border-radius: 2px;
      letter-spacing: 1px;
      // background: var(--colr-white);
    }

    & button:last-child {
      margin: 1em 0 0 0;
    }

  }

  &-box:nth-last-of-type(1) {
    display: flex;
    flex-direction: row-reverse;
    // justify-content: space-between;
    // align-items: flex-start;
    // border: 2px solid red;
  }

  &-left:hover {
    // opacity: 1;
    transform: scale(1.025);
    box-shadow: 8px 8px 10px rgb(138, 138, 138);
    // border: 3px solid var(--colr-secondary);
    // transform: scale(1.025);
  }

  & button:hover {
    color: var(--colr-white);
    background: rgba(176, 28, 51, 1);
  }
}

.contact {
  position: relative;
  padding: 120px 0;
  background: var(--colr-white);
  // background: dodgerblue;

  & h2 {
    color: var(--colr-secondary);
    font-size: 3em;
    text-align: center;
    margin-bottom: 1em;
  }

  &-content {
    position: relative;
    // border: 2px solid red;
    margin-inline: auto;
    width: min(90%, 800px);
  }
}

.contact::before {
  position: absolute;
  bottom: 0;
  content: "";
  width: 100%;
  height: 40%;
  background: var(--colr-black);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;

  label {
    color: var(--colr-black);
    font-size: 1.1em;
    margin: .5em 0 .3em 0;
  }

  input {
    font-size: 1em;
    padding: 12px;
    border: 2px solid #b8b8b8;
    border-radius: 4px;
    margin-bottom: .8em;
    background: #ededed;
  }

  input:focus {
    outline: transparent;
    border: 2.5px solid var(--colr-secondary);
  }

  textarea {
    font-size: 1.3em;
    padding: 12px;
    background: #ededed;
    border: 2px solid #b8b8b8;
    border-radius: 4px;
  }

  textarea:focus {
    outline: transparent;
    border: 2.5px solid var(--colr-secondary);
  }

  button {
    font-size: 1.1em;
    margin-top: 2.5em;
    padding: 10px;
    width: 200px;
    border-radius: 4px;
    border: none;
    color: var(--colr-white);
    background: var(--colr-secondary);
  }

  button:hover {
    color: var(--colr-secondary);
    // box-shadow: 0 0 15px var(--colr-secondary);
    background: var(--colr-white);
  }
  
}


.footer {
  padding: 7.5em 0 2em 0;
  background: var(--colr-black);
}

.footer-content {
  display: flex;  
  // flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  gap:5em;


  &__left {
    width: 50%;
    text-align: center;

    & p {
      font-weight: 300;
      // font-family: 'Montserrate', 'Poppins', serif;
      color: grey;
    }

    & span {
      // font-family: 'Yellowtail', cursive;
      font-size: 1.3em;
      letter-spacing: 1px;
      // font-weight: 600;
      color: var(--colr-secondary);
    }
  }

  &__right {
    width: 50%;
  }

  .footer-content__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;

    & .fa-brands {
      font-size: 28px;
      color: var(--colr-white);
    }    
  }
  & .fa-brands:hover {
    color: var(--colr-secondary);
  }
}






@media screen and (max-width: 768px) {
  .header {
    padding: .5em;
  }
  .header-nav__logo {
    font-size: 1.2em;
  }

  .header-nav__menu {
    display: none;
  }
  .header-nav__ham {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-end;
    gap: .4em;
  
    .lines {
      background: var(--colr-white);
      border-radius: 50px;
      width: 15px;
      height: 1.8px;
    }

    .line2 {
      width: 23px;
    }

    .line3 {
      width: 15px;
    }
  }

  // hero section

  .hero {
    padding: 10em 0 0 0;
  
    .hero-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-inline: auto;
      width: min(90%, 900px);
    }
  }

  .hero-content__left {
    text-align: center;
    margin-inline: auto;
    // width: 100%;
    width: min(90%, 600px);
  
    .myName {
      font-family: 'Yellowtail', cursive;
      color: var(--colr-accent2);
      font-size: .5em;
      white-space: nowrap;
      letter-spacing: 1.5px;
    }
  
    .dev {
      font-size: 1em;
    }
  
    & h1 {
      font-size: 3em;
      font-weight: 900;
      color: #fff;
      line-height: 40px;
    }
  
    & p {
      font-family: 'Montserrat', 'Poppins', serif;
      font-size: 1.2em;
      color: #EDEDED;
      margin: 1em 0 2em 0;
    }
  
    & .btn {
      font-size: 1em;
      border-radius: 4px;
      outline: transparent;
      font-weight: 600;
    }
  
    & .btn1 {
      padding: 8px 32px;
      // margin-top: 9em;
      margin-right: 1em;
      border: none;
      color: var(--colr-primary);
      background: var(--colr-white);
    }
  
    & .btn1:hover {
      color: var(--colr-white);
      background: var(--colr-accent2);
    }
  
    .btn2 {
      display: none;
      color: var(--colr-white);
      border: 2px solid var(--colr-white);
      background: transparent;
      padding: 7px 45px;
    }
  
    & .btn2:hover {
      color: var(--colr-accent2);
      border-color: var(--colr-accent2);
      // background: var(--colr-white);
    }
  }

  .hero-content__right {
    width: 0%;
  
  
    & img {
      display: none;
    }
  }

  // skills 
.skills {
  padding: 90px 0;

  &-content {
    // text-align: center;

    & h2 {
      font-size: 2em;
      letter-spacing: 3px;
      color: var(--colr-white);
      text-align: center;
      margin-bottom: 1em;
    }

    & img {
      width: 60px;
    }

    &__icons {
      grid-template: repeat(3, 1fr) / repeat(2, 1fr);
      gap: 1em;
      // width: min(90%, 200px);
    }
    }
  }



  // About Me 
.about {
  position: relative;
  padding: 50px 0 0 0;
  height: 1000px;
  background: var(--colr-white);

  & h2 {
    // position: relative;
    font-size: 2em;
    color: var(--colr-white);
    margin-bottom: 1em;
    text-align: center;
  }
}

.about::before {
  position: absolute;
  top: 0;
  content: "";
  width: 100%;
  height: 28%;
  background: var(--colr-primary);
}

.about-content {
  // position: relative;
  margin-inline: auto;
  width: min(90%, 600px);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;


  &__left {
    width: 100%;

    img {
      display: block;
      width: 100%;
      height: 100%;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      object-fit: cover;
      border-radius: 4px;
      
    }
  }

  &__right {
    position:absolute;
    display: block;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    top: 100%;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100;
    padding: 16px;
    background: var(--colr-white);
    border-radius: 4px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, .5);

    & h3 {
      font-family: 'Yellowtail', cursive;
      text-align: left;
      font-size: 2em;
      font-weight: 600;
      color: var(--colr-accent2);
      display: inline-block;
    }


    & p {
      text-align: left;
      font-size: .9em;
    }

  }

  h3::before {
    position: absolute;
    left: 170px;
    top: 37px;
    content: '';
    width: 25%;
    height: 2px;
    background: var(--colr-accent2);
  }
}

.about-content__social-icons {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 1em;
  margin-top: 1em;

  & .fa-brands {
    font-size: 1.5em;
    color: var(--colr-primary);

  }
}

.portfolio-content__inner {
  grid-template: repeat(1, 1fr) / repeat(1, 1fr);
}
}







// mobile version
// @media screen and (max-width: 739px)